/* Coolors Exported Palette - https://coolors.co/04454a-eafcfc-222222-fcf7f3-fffefe */

/* CSS HEX */
--midnight-green: #04454Aff;
--azure-web: #EAFCFCff;
--eerie-black: #222222ff;
--isabelline: #FCF7F3ff;
--white: #FFFEFEff;

/* CSS HSL */
--midnight-green: hsla(184, 90%, 15%, 1);
--azure-web: hsla(180, 75%, 95%, 1);
--eerie-black: hsla(0, 0%, 13%, 1);
--isabelline: hsla(27, 60%, 97%, 1);
--white: hsla(0, 100%, 100%, 1);

/* SCSS HEX */
$midnight-green: #04454Aff;
$azure-web: #EAFCFCff;
$eerie-black: #222222ff;
$isabelline: #FCF7F3ff;
$white: #FFFEFEff;

/* SCSS HSL */
$midnight-green: hsla(184, 90%, 15%, 1);
$azure-web: hsla(180, 75%, 95%, 1);
$eerie-black: hsla(0, 0%, 13%, 1);
$isabelline: hsla(27, 60%, 97%, 1);
$white: hsla(0, 100%, 100%, 1);

/* SCSS RGB */
$midnight-green: rgba(4, 69, 74, 1);
$azure-web: rgba(234, 252, 252, 1);
$eerie-black: rgba(34, 34, 34, 1);
$isabelline: rgba(252, 247, 243, 1);
$white: rgba(255, 254, 254, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-right: linear-gradient(90deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-bottom: linear-gradient(180deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-left: linear-gradient(270deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-top-right: linear-gradient(45deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-bottom-right: linear-gradient(135deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-top-left: linear-gradient(225deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-bottom-left: linear-gradient(315deg, #04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);
$gradient-radial: radial-gradient(#04454Aff, #EAFCFCff, #222222ff, #FCF7F3ff, #FFFEFEff);