/* Coolors Exported Palette - https://coolors.co/fdf3d0-009c54-2fbbd5-ef8944-005940 */

/* CSS HEX */
--cornsilk: #FDF3D0ff;
--shamrock-green: #009C54ff;
--moonstone: #2FBBD5ff;
--persian-orange: #EF8944ff;
--castleton-green: #005940ff;

/* CSS HSL */
--cornsilk: hsla(47, 92%, 90%, 1);
--shamrock-green: hsla(152, 100%, 31%, 1);
--moonstone: hsla(189, 66%, 51%, 1);
--persian-orange: hsla(24, 84%, 60%, 1);
--castleton-green: hsla(163, 100%, 17%, 1);

/* SCSS HEX */
$cornsilk: #FDF3D0ff;
$shamrock-green: #009C54ff;
$moonstone: #2FBBD5ff;
$persian-orange: #EF8944ff;
$castleton-green: #005940ff;

/* SCSS HSL */
$cornsilk: hsla(47, 92%, 90%, 1);
$shamrock-green: hsla(152, 100%, 31%, 1);
$moonstone: hsla(189, 66%, 51%, 1);
$persian-orange: hsla(24, 84%, 60%, 1);
$castleton-green: hsla(163, 100%, 17%, 1);

/* SCSS RGB */
$cornsilk: rgba(253, 243, 208, 1);
$shamrock-green: rgba(0, 156, 84, 1);
$moonstone: rgba(47, 187, 213, 1);
$persian-orange: rgba(239, 137, 68, 1);
$castleton-green: rgba(0, 89, 64, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-right: linear-gradient(90deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-bottom: linear-gradient(180deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-left: linear-gradient(270deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-top-right: linear-gradient(45deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-bottom-right: linear-gradient(135deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-top-left: linear-gradient(225deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-bottom-left: linear-gradient(315deg, #FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);
$gradient-radial: radial-gradient(#FDF3D0ff, #009C54ff, #2FBBD5ff, #EF8944ff, #005940ff);